.btnDefault {
  background-color: transparent;
  border-color: #00b8d8;
  border-radius: 30px;
  color:#00b8d8;
}

.btnDefault:hover, .btnDefault:focus, .btnDefault:active, .btnDefault.active, .clicked {
  background-color: #00b8d8;
  border-color: #00b8d8;
  border-radius: 30px;
  color:#fff;
}

.btnMainDefault {
  background-color: #b46d58;
  border-color: #b46d5b;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  font-size: large;
  font-weight: bold;
}

.btnMainDefault:hover, .btnMainDefault:focus, .btnMainDefault:active, .btnMainDefault.active {
  background-color: #d4735b;
  border-color: #d4735b;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  font-size: large;
  font-weight: bold;
}