.card{
    font-size: 20px;
    background-color: #ffffffa4;
    left: 50%;
    max-width: 35%;
    padding: 40px 30px;
    position: fixed;
    text-align: left;
    bottom: 500px;
    z-index: 99;
}

.block {
    display : block;
    margin-right: 20px;
}